@using Microsoft.AspNetCore.Components.Web
<input type="time" value=@ComponentModel.Value
       @onchange=@(e => ComponentModel.SetValueFromUI(Convert.ToString(e.Value)))
       disabled=@ComponentModel.ReadOnly
       @attributes=@ComponentModel.Attributes />
<label for="head">@ComponentModel.Value</label>

@code {
    [Parameter]
    public TimeSpanModel ComponentModel { get; set; }
    public static RenderFragment Create(TimeSpanModel componentModel) =>@<TimeSpan ComponentModel=@componentModel />;
}